<% include layout-head %>
<div class="col-lg-12 col-md-12  text-center">
    <h2 class="margin-top-0 text-primary">
        <div class='btn-holder'>
            <button  class="btn btn-warning" id='btnPrev'>&lt;</button>
            <span class="text-warning"id='currentDate'></span>
            <button  class="btn btn-warning" id='btnNext'>&gt;</button>
        </div>
    </h2> <br>
    <div id="Table"></div>

</div>
<!--
    <form action="/mealRegister" method="post" enctype="multipart/form-data">
    아침 :
    <input type="file" name="morningImage">
    <input type="text" name="morningMenu1">
    <input type="text" name="morningMenu2">
    <input type="text" name="morningMenu3">
    <input type="text" name="morningMenu4">
    <input type="text" name="morningMenu5">
    <input type="text" name="morningSideMenu"> <br>
    점심 :
     <input type="file" name="lunchImage">
     <input type="text" name="lunchMenu1">
     <input type="text" name="lunchMenu2">
     <input type="text" name="lunchMenu3">
     <input type="text" name="lunchMenu4">
     <input type="text" name="lunchMenu5">
     <input type="text" name="lunchSideMenu"> <br>
    저녁 :
    <input type="file" name="dinnerImage">
    <input type="text" name="dinnerMenu1">
    <input type="text" name="dinnerMenu2">
    <input type="text" name="dinnerMenu3">
    <input type="text" name="dinnerMenu4">
    <input type="text" name="dinnerMenu5">
    <input type="text" name="dinnerSideMenu"> <br>

    <button type="submit">등록</button>
</form>
-->
<script src="table_controller.js"></script>
</body>
</html>